[MASTER]
ignore=_version.py

[MESSAGES CONTROL]
disable=format,
        import-error,
        fixme,
        import-outside-toplevel,
        too-many-branches,
        too-many-locals,
        too-many-arguments,
        too-many-positional-arguments,
        too-many-statements,
        too-many-nested-blocks,
        too-many-instance-attributes,
        too-few-public-methods,
        no-else-return,
        else-if-used,
        broad-exception-caught,
        attribute-defined-outside-init,
        cyclic-import,
        too-many-return-statements,
        unused-variable,
        unused-argument,
        invalid-name,
        bad-builtin,
        redefined-outer-name,
        reimported,
        redundant-returns-doc,
        raise-missing-from,
        chained-comparison

[SIMILARITIES]
min-similarity-lines=7
ignore-comments=no
ignore-docstrings=yes
ignore-imports=yes

[FORMAT]
good-names=i,j,k,ds,ax,t,X,a0,ts,na,a0,b,ui,bx,nt,X_exog,diagnostic_X_features,diagnostic_Y_data